.player-title-card{
    width: 190px;
    margin: 0 auto;
}
.player-title-card img{
    border: 2px solid goldenrod;
    border-radius: 50%;
    margin: 10px 10px -10px 10px;
    box-shadow: 5px 5px 15px gray;
}
.player-title{
    font-family: 'Poppins', sans-serif;
    box-shadow: 5px 5px 15px gray;
    border-radius: 5px;
    margin: 10px 0px 20px 0px;
    width: 190px;
}
.player-name{
    padding-top: 7px;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}
.selected-mark{
    color: limegreen;
    font-size: 30px;
    margin-left: 125px;
    margin-top: -20px;
}
.select-mark-logo{
  margin-top: -34px; 
}