
.App {
  text-align: center;
  max-width: 1280px;
}
.players{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.league-title{
  margin-top: 8px;
  color: lightseagreen;
  font-family: 'Saira Stencil One', cursive;
}
.team-name{
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}
.league-event{
  font-family: 'Poppins', sans-serif;
}
@media only screen and (min-width: 767px) {
  .players {
    max-height: 1600px;
  }
}